<div class="card">
    <div class="card-header bg-dark text-light">
       
        <a href="<%= root_url%>" class="btn btn-outline-info btn-sm pull-right">Continue Working</a>
        <div class="clearfix"></div>
    </div>
    <div class="card-body">
      <% @team.users.each do |item| %>
        <div class="row">
            <%= item.id  %>
            <div class="col-xs-2 col-md-2">
                  <img src="<%= item.user_photo  %>" width="60" height="60" class=" mx-auto d-block">
            </div>
            <div class="col-xs-4 col-md-6">
              
                <h4><strong><%= item.user_name %></strong></h4><h4><small><%#= item.product.description %></small></h4>
              
              
            </div>
            <div class="col-xs-6 col-md-4 row">
                <div class="col-xs-6 col-md-6 d-flex justify-content-center" style="padding-top: 5px">
                  <div class="d-flex justify-content-center ">
                  <%= link_to  delete_member_team_path(@team.id, item.id), method: :delete do %>
                    <i class="fas fa-user-times remove-user d-flex justify-content-center"></i>
                  <% end %>
                  </div>
                </div>
                <div class="col-xs-4 col-md-4">
                  <%#= item.quantity %>
                </div>
                <div class="col-xs-2 col-md-2">
                </div>
            </div>
        </div>
        <hr>
      <% end %>

    </div>
   

</div>
