
<div class="d-flex justify-content-between">
  <%= link_to root_path do %>
    <i class="fas fa-arrow-circle-left fa-2x icon-back"></i>
  <% end %>
  <%= link_to edit_team_path(@team), class:"nav-item mx-2 edit-team" do %>
	  <i class="fas fa-edit fa-2x icon"></i>
  <% end %>
</div>
<br>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @team.color %>
</p>

<%= form_tag team_path, method: :get do %>
  <div class="form-group">
    <%= text_field_tag :user_name, params[:user_name], placeholder: "Usuario" %>
  </div>
  <%= submit_tag "Buscar", user_name: nil, class: "btn btn-primary btn-md" %>
<% end %>



<br>

<hr>
<h3>Team User</h3>
<%= render 'add_member' %>
<hr>
<h3>All Users</h3>
<br>



<br>
<table  class="table table-bordered">
  <thead>
    <tr  class="text-center">
      <th>Avatar</th>
     
      <th>Name</th>
      <th>Email</th>
      <th>Add Members Team</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |u| %>
      <tr class="text-center">
        
       
         <% if u.avatar.attached? %>
          <td><%= image_tag u.avatar.variant(resize: "60x60" ), :class => 'rounded mx-auto d-block'%></td>
        <% end %>
          
       
        <td><%= u.user_name %></td>
        <td><%= u.email %></td>
        <td class="d-flex justify-content-center "><%= link_to add_member_team_path(@team.id, u.id) do%>
        <i class="fas fa-user-plus add-user"></i>
        <% end %></td>
      </tr>
    <% end %>
  </tbody>

</table>


