<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @team.color %>
</p>

<%= form_tag team_path, method: :get do %>
  <div class="form-group">
    <%= text_field_tag :user_name, params[:user_name], placeholder: "Usuario" %>
  </div>
  <%= submit_tag "Buscar", name: nil, class: "btn btn-primary btn-md" %>
<% end %>

<br>
<table  class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Add Members</th>
      <th>Mostrar User</th>
      <th>Edit User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |u| %>
      <tr>
        <td><%= u.id %></td>
        <td><%= u.user_name %></td>
        <td><%= u.email %></td>
        <td><%= link_to 'Add', class: 'btn btn-outline-primary '%></td>
        <td><%#= link_to 'Show', user_registration_path %></td>
        <td><%= link_to 'Edit', edit_user_registration_path, class: 'btn btn-primary btn-sm' %></td>
        <td><%#= link_to 'Destroy', u, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

 

</table>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', root_path %>
