<%= form_with(model: @task, local: true) do |form| %>
  <div class="form-group">
    <h4 class="control-label">Datos de la Tarea:</h4>
  </div>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
        <ul>
          <% @task.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
    </div>
  <% end %>

  <div class="item form-group">
    <%= form.label :name, "Nombre de la tarea: " %>
      <div class="input-group">
        <%= form.text_field :name, {:class=> "form-control", :placeholder=>"Introduzca el nombre de la tarea..."} %>
      </div>
  </div>

  <div class="item form-group">
    <%= form.label :description, "Descripción de la tarea: " %>
      <div class="input-group">
        <%= form.text_area :description, {class: "form-control", :placeholder=>"Introduzca la descripción de la tarea..."} %>
      </div> 
  </div>

  <div class="item form-group">
    <%= form.label :status %>
      <div class="input-group">
        <%= form.select(:status, Task.statuses.keys.to_a, {:prompt => 'Selecciona un tamaño'}, {class: "form-control"})  %>
      </div>
  </div>

  <div class="item form-group">
    <%= form.label :due_date %>
      <div class="input-group">
        <%= form.date_select :due_date, prompt: true %>
      </div>
  </div>

  <div class="item form-group">
    <%= form.label :priority %>
      <div class="item form-group">
        <%= form.select(:priority, [['Alta'],['Media'], ['Baja']], {:prompt => 'Seleccione prioridad...'}, {class: "form-control"}) %>
      </div>
  </div>

  <div class="item form-group">
    <%= form.label :project_id %>
      <div class="input-group">
        <%= form.collection_select(:project_id, Project.all, :id, :name, {:prompt => 'Seleccione un Proyecto'}, {class: "form-control"}) %>
      </div>
  </div>

  <div class="actions">
    <%= form.submit :class => "btn btn-success"%>
  </div>
<% end %>
  