<tr class="text-center" id="task_<%= task.id %>">
      <td><%= task.project.name %></td>
      <td><%= task.name %></td>
      <td><%= task.description %></td>
      <td><%= task.due_date %></td>
      <td><span class="badge badge-<%= task.badge_color_priority %> mb-3"><%= task.priority %></span></td>
      <td><%= task.count_down_day_task %></td>
      <td><span class="badge badge-<%= task.badge_color %> mb-3"><%= task.status %></span></td>
      <td><%= link_to  edit_task_path(task), remote: true, class:"nav-item mx-2" do %>
            <i class="fas fa-edit icon"></i>
		<% end %></td>
      <td><%= link_to task, remote: true, method: :delete,  data: { confirm: "Delete #{task.name}?"}, class:'nav-item mx-5'  do %>
            <i class="fas fa-trash-alt icon-trush"></i>
		<% end %></td>
</tr> 