
<h1 class="h3 mb-2 text-gray-800">Tasks</h1>
<div>  
  <%= link_to new_task_path, { class: 'button is-small'} do %>
		<span class="icon is-small has-text-link"><i class="fa fa-plus"></i></span>
	<% end %>
</div>

<% @tasks.each do |task| %>
  <div class="card">
    <div class="container">
      <div class="row">      
        <div class="col">
          <h5 class="card-title"><b>Project Name</b></h5>
          <%= task.project.name %>
        </div>
        <div class="col">
          <h5 class="card-title"><b>Task Name</b></h5>
          <%= task.name %>
        </div>
        <div class="col">
          <h5 class="card-title"><b>Description</b></h5>
          <%= task.description %>
        </div>
        
        <div class="col">
          <h5 class="card-title"><b>Due Date</b></h5>
          <%= task.due_date %>
        </div>
        <div class="col">
          <h5 class="card-title"><b>Priority</b></h5>
          <%= task.priority %>
        </div>
        <div class="col">
          <h5 class="card-title"><b>Status</b></h5>
          <span class="badge badge-<%= task.badge_color %> mb-3"><%= task.status %></span>
        </div>
        <div class="col">
          <%= link_to 'Show', task %>
          <%= link_to 'Edit', edit_task_path(task) %>
          <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div >
      </div>
  </div>
<% end %>
 



