<% if Payment.has_payment?(current_user).present? %>
<h1 class="h3 mb-2 text-gray-800">Tasks</h1>
<hr>
 <div>  
  <%= link_to new_task_path, {remote: true} do %>
		<i class="fas fa-plus-square fa-2x icon-plus"></i>
	<% end %>
</div>
<br />

<%= form_tag tasks_path, method: :get do %>
  <div class="form-group">
    <%= text_field_tag :name, params[:name], placeholder: "Search Task..." %>
  </div>
  <%= submit_tag "Buscar", name: nil, class: "btn btn-primary btn-md" %>
<% end %>

<br>
<table class="table table-bordered">
  <thead>
    <tr class="text-center table-primary">
      <th scope="col">Project Name</th>
      <th scope="col">Task Name</th>
      <th scope="col">Description</th>
      <th scope="col">Due Date</th>
      <th scope="col">Priority</th>
      <th scope="col">Status</th>
      <th scope="col">Días por trabajar</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
       <%= render 'tasks/task', task: task %>
    <% end %> 
  </tbody>
</table>
<br>

<%= render 'modal_tasks' %>

<% else %>
	<h1 class="text-center">Pagar para entrar en APP</h1>
	<br>
	<h4 class="text-center">Haz seguimiento a tus proyectos</h4>
	<%= link_to 'Paga con MercadoPago', mercado_pago_path, class:"position-absolute top-50 start-50 translate-middle-x-y text-decoration-none  rounded-pill btn-lg MercadoPago" %>
<% end %>

