<section class="section pt3">
	<p class="title border-bottom pb-5 has-text-centered letter">Welcome <%= current_user.user_name %> 👋🏻</p>
	<div class="columns">

		<div class="column border-right ph4" >
			<div class="level">
				<div class="level-left">
					<h3 class="subtitle is-5">My Projects <span class="tag is-rounded"><%= @projects.count %></span></h3>
				</div>
				<div class="level-right">
					<p class="field" >
						<%= link_to new_project_path, remote: true, class: 'button is-small' do %>
							<span class="icon is-small has-text-link"><i class="fa fa-plus"></i></span>
						<% end %>
						<%= render 'projects/modal_projects' %>
					</p>
				</div>
			</div>
			<hr />

			<% @projects.each do |project| %>

				<div class="content border-bottom pb4">
					<div class="container" id="NameProject">
						<div class="row">
							<div class="col-4 title is-4 text-start">
								<%= link_to project.name, project %>
							<small>	<span class="badge badge-<%= project.badge_color %> mb-3"><%= project.status %></span></small>
							</div>
							
							<div class="col-4">
								<small><%= project.percent_complete %>% complete
								(<%= project.total_complete %>/<%= project.total_tasks %> tasks)</small>
							</div>
							<div class="col-4 text-end">
								<%= link_to project, method: :delete, data: { confirm: "Are you sure you want to remove: #{project.name}?"}, class:'nav-item mx-5'  do%> 
								<i class="fas fa-trash-alt  icon-trush fa-1x"></i>
								<% end %>
							</div>
							
						</div>
					Hoy es:
					<br>
					<%= I18n.l(Date.today, format: '%A, %d de %B de %Y') %><br>
					<%= (project.finish_date) %><br>
					<%=  (Date.today) %><br>
					<%#= ((Date.today.to_s)-(project.finish_date.to_s)).to_i%><br>
					Quedan :<%#= project.total_day %> días
					<p class="subtitle is-6"></p>
						<%= link_to project.team.name, project.team %>
					</p>
					<p class="f6"><b>Description:</b> <%= project.description %></p>
					<p class="f6 d-flex justify-content-end">Created by: <%= project.user&.user_name %></p>
				</div>
				</div>
			<% end %>
		
		</div>
		<div class="column border-right ph4">
			<div class="level">
				<div class="level-left">
					<h3 class="subtitle is-5">My Teams <span class="tag is-rounded"><%= @teams.count %></span></h3>
				</div>
				<div class="level-right">
					<p class="field">
						<%= link_to new_team_path, class: 'button is-small' do %>
							<span class="icon is-small has-text-link"><i class="fa fa-plus"></i></span>
						<% end %>
					</p>
				</div>
			</div>
			<hr />
			<% @teams.each do |team| %>
				<div class="content border-bottom pb4">
					<div class=" d-flex justify-content-between">
						<div class="title is-4">
							<%= link_to team.name, team %>
						</div>
						<%= link_to team, method: :delete, data: { confirm: "Are you sure you want to remove: #{team.name}?" }, class:"nav-item mx-5" do %>	
							<i class="fas fa-trash-alt  icon-trush"></i>
						<% end %>
					</div>
					<p class="subtitle is-6"><%= team.users.count %> Members</p>
					<span class="f6"><%= safe_join(team.users.map { |user| user.user_name }, ', ') %></span>
					
				</div>
			<% end %>

		</div>
	</div>
</section>

