<h1>Table Role Admin</h1>
<hr>
<h3> Users Management </h3>

<br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.user_name %></td>
        <td><%= user.email %></td>
        <td><%= user.role%></td>
        <td><%= link_to 'Change Status', update_status_path(user.id), class:"btn btn-success"%></td>
        <td><%= link_to '', destroy_user_path(user.id), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-sm fas fa-trash-alt" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>