<tr class="text-center" id="project_<%= project.id%>">
    <td><%= project.name %></td>
    <td><%= project.team.name %></td>
    <td><%= project.description %></td>
    <td><%= project.initial_date %></td>
    <td><%= project.finish_date %></td>
    <td><%= project.count_down_day %></td>  
    <td><span class="badge badge-<%= project.badge_color %> mb-3"><%= project.status %></span></td>    
    <td><%= link_to edit_project_path(project),remote: true, class:"nav-item mx-2" do %>
			<i class="fas fa-edit icon"></i>
		<% end %></td>
    <td><%= link_to project,remote: true, method: :delete, data: { confirm: "Delete #{project.name}?"}, class:'nav-item mx-5'  do%> 
			<i class="fas fa-trash-alt icon-trush"></i>
		<% end %></td>
</tr>