<%= link_to root_path do %>
    <i class="fas fa-arrow-circle-left fa-2x icon-back"></i>
<% end %>
<section class="section" id="newProject">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-9">
				<h1 class="title is-2" id="projectName"><%= @project.name %></h1>
				<h2 class="subtitle is-5 has-text-weight-light" id="projectTeamName"><span class="icon is-small has-text-weight-lighter"><i class="fa fa-users"></i>&nbsp; &nbsp;</span> <%= link_to @project.team.name, team_path(@project.team) %></h2>
        

				<div class="level">
					<div class="level-left">
						<p>Created on:
						<%= time_ago_in_words(@project.created_at) %> by <%= @project.user&.user_name %> / Modified: 
						<%= time_ago_in_words(@project.updated_at) %></p>
					</div>
					<div class="level-right">
						<div class="buttons ">
							<%= link_to edit_project_path(@project), class:"nav-item mx-2" do %>
								<i class="fas fa-edit fa-2x icon"></i>
							<% end %>
							<%= link_to @project, method: :delete, data: { confirm: 'Are you sure'}, class:'nav-item mx-5'  do%> 
								<i class="fas fa-trash-alt fa-2x icon-trush"></i>
							<% end %>
						</div>
					</div>
				</div>
				<hr/>
				
				<div class="content" id="proyectDescription" >
					<strong>Descripción Project:</strong>
					<%=@project.description%>
				</div>

				<div id="proyectInitial_date">
					<strong>Initial date:</strong>
					<%= @project.initial_date %>
				</div>

				<div id="proyectFinish_date">
					<strong>Finish:</strong>
					<%= @project.finish_date %>
				</div>
				<hr>		

				<h4>Tasks</h4>
				<% @project.tasks.each do |task| %>
					<% if task.persisted? %>
						<div class="card mb-3">
							<div class="card-body">
							<div class="d-flex justify-content-between">
								<span class="badge badge-<%= task.badge_color %> mb-3"><%= task.status %></span>
								<div>
								<%= link_to 'Edit', edit_task_path(task), class: 'btn btn-light btn-sm' %>
								<%= link_to 'Destroy', task, method: :delete, data: { confirm: "Are you sure delete #{task.name}?" }, class: 'btn btn-dark btn-sm' %>
								</div>
							</div>
							<h5 class="card-title mb-2">
								<span><%= task.name %></span>
							</h5>
							<p><%= task.description %></p>
							</div>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</section>
