$('#modalProjects').modal('toggle');
document.querySelector('#project_<%= @project.id %>').innerHTML = "<%= j render @project%>"
console.log('<%= @project.name %>')
$('#projectName').html('<h1 class="title is-2"><%= @project.name %></h1>');
$('#projectTeamName').html('<h2 class="subtitle is-5 has-text-weight-light"><span class="icon is-small has-text-weight-lighter"><i class="fa fa-users"></i>&nbsp; &nbsp;</span> <%= link_to @project.team.name, team_path(@project.team) %></h2>');
$('#proyectDescription').html('<strong>Descripción Project: </strong><%= @project.description %>');
$('#proyectStatus').html('<strong>Status: </strong><%= @project.status %>');
$('#proyectInitial_date').html('<strong>Initial date: </strong><%= @project.initial_date %>');
$('#proyectFinish_date').html('<strong>Finish: </strong><%= @project.finish_date %>');





